/* Global Styles */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.sec-heading {
    margin: 1rem 0 -1rem 0;
    text-align: center;
}

/* Balance Section */
.balance-text {
    margin: 1rem 0 1rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.3px;
    color:#292929;
}

#balance-span {
    color:#292929;
    font-family: 'Oswald', sans-serif;
}

/* Transaction Input Section */
.transaction-input-section {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 20rem;
}

#item-text-input {
    display: block;
    margin: 0 0 .5rem 0;
    width: 20rem;
    height: 2rem;
    background-color: #e6e6e6;
    border: none;
    text-indent: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    border-radius: 5px;
    text-align: center;
}

#item-text-input:focus {
    outline: none;
}

#item-amount-input {
    display: block;
    margin: 0 0 .5rem 0;
    width: 20rem;
    height: 2rem;
    background-color: #e6e6e6;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    border-radius: 5px;
    text-align: center;
}

#item-amount-input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#income-btn {
    display: block;
    width: 20rem;
    height: 2rem;
    background-color:#58d68d;
    border: none;
    border-radius: 5px 5px 0 0;
}

.fa-plus {
    color: white;
}

#income-btn:hover {
    background-color: #45b875;
}

#expense-btn {
    display: block;
    width: 20rem;
    height: 2rem;
    background-color:#ec7063;
    border: none;
    border-radius: 0 0 5px 5px;
}

#expense-btn:hover {
    background-color: #db5e50;
}

.fa-minus {
    color: white;
}


/* Transaction Element */ 
.tran-item-div {
    background-color: #e6e6e6;
    width: 25rem;
    border-radius: 5px;
    margin: 30px 0 30px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.tran-item-name {

}

.tran-item-amt {

}

.tran-item-del-btn {

}

.tran-item-more-btn {

}

/* Show More Section */
.show-more-div {

}

.tran-name-txt {

}

.tran-type-txt {
    text-transform: capitalize;
}

.tran-amt-txt {

}

.tran-date-txt {

}

.tran-id-txt {

}

.show-more-close-btn {

}